<% include ../partials/header %>
<br><br>
<div class="jumbotron" style="background-color:thistle">
    <h1 class="text-center"><b>140-390 Full Stack Web with JS</b></h1>
    <h2 class="text-center">Project : 1</h2>
    <hr class="my-2">
    <h3><b>Student</b></h3>
    <h4>ID : 5930213038</h5>
        <h4>Name : Mr.Krittayot Anuboot</h3>
            <hr class="my-2">
            <h3><b>Teacher</b></h3>
            <h4>Name : Dr. Korawit Prutsachainimmit</h4>
</div>


<% include ../partials/footer %>