<% include ../partials/header %>

<div class="jumbotron">
<h1>140-390 Full Stack Web with JS</h1>
<h2>Project : 1</h2>
        <hr class="my-2">
<h3>Mr.Krittayot Anuboot</h3>
<h5>5930213038</h5>
<h4>to Dr. Korawit Prutsachainimmit</h4>
</div>


<% include ../partials/footer %>