<% include ../partials/header %>

    <div class="jumbotron" style="margin-top: 30px">
        <h1 class="display-3">ExpressJS</h1>
        <p class="lead">ExpressJS with bootstrap4</p>
        <hr class="my-2">
        <p>More info</p>
         <p class="lead">
            <a class="btn btn-primary btn-lg" href="/about" role="button">About</a>
         </p>
    </div>

<% include ../partials/footer %>