<% include ../partials/header %>
<div class="bgindex" style="background-color: rgb(77, 68, 68);">
<h2 style="text-align: center;">Menu</h3>
    <div class="jumbotron" style="margin-top: 30px">
        <h4>List type</h4>
        <hr class="my-2">
        <p>• Product</p>
        <p>• User</p>
        <h4>Report</h4>
        <hr class="my-2">
        <p>• TOP 25 Buyer with the most purchased</p>
        <p>• Product with the most sold</p>
         <p class="lead">
            <a class="btn btn-primary btn-lg" href="/about" role="button">About</a>
         </p>
    </div>
</div>

<% include ../partials/footer %>