<% include ../partials/header %>
<form action="/products/addnew" method="POST">
  <div class="form-group">
    <label for="">ID</label>
    <input type="number" class="form-control" value="" name="pid" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Product ID</small>
  </div>
  <div class="form-group">
    <label for="">Title</label>
    <input type="text" value="" class="form-control" name="title" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Product title</small>
  </div>
  <div class="form-group">
    <label for="">Price</label>
    <input type="number" class="form-control" value="" name="price" id="" aria-describedby="helpId" placeholder="" step="0.1">
    <small id="helpId" class="form-text text-muted">Product price $</small>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<% include ../partials/footer %>