<% include ../partials/header %>
<form action="/products/update" method="POST">
<div class="form-group">
  <label for="">ID</label>
  <input type="number"
    class="form-control" value="<%=product.id %>" name="id" id="" aria-describedby="helpId" placeholder="" Endabled >
  <small id="helpId" class="form-text text-muted">Product ID</small>
</div>
<div class="form-group">
  <label for="">Title</label>
  <input type="text" value="<%=product.title %>" class="form-control" name="title" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Product title</small>
</div>
<div class="form-group">
  <label for="">Price</label>
  <input type="number"
    class="form-control" value="<%=product.price %>" name="price" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Product price $</small>
</div>

<button type="submit" class="btn btn-primary">Save</button>

</form>


<% include ../partials/footer %>