<% include ../partials/header %>
<div class="row">
    <div class="col-md-3 col-sm-4 col-4" >
            <h3>ID</h3>
    </div>
    <div class="col-md-3 col-sm-4 col-4">
            <h3>TITLE</h3>
    </div>    
    <div class="col-md-3 col-sm-4 col-4">
            <h3>PRICE</h3>
    </div>
    <div class="col-md-3 col-sm-12 col-6">
            <h3>BUTTON</h3>
    </div>
    <div class="col-md-3 col-sm-12 col-6">
            <h3>BUTTON</h3>
    </div>
</div>

<% include ../partials/footer %>