<% include ../partials/header %>


<table>
    <tr>
    <th>ITEMNAME</th>
    <th>QUANTITY PURCHASES</th>
    <th>AMOUNT</th>
    <th>TOTAL PRICE</th>
</tr>
<tr>
        <% reportPChase.forEach(function(reportPChase){ %>
                <td scope="row"><%= reportPChase.title %></td>
                
</tr>

</table>

<% include ../partials/footer %>