<% include ../partials/header %>

<table class="table">

    <thead>
        <tr style="text-align:center">
            <th class="col-sm-4 col-4">ID</th>
            <th class="col-sm-4 col-4">Email</th>
            <th class="col-sm-4 col-4">Password</th>
        </tr>
    </thead>

    <tbody id="Susers">
    <% users.forEach(function(user){ %>
      <tr style="text-align:center">
            <td scope="row"  class="col-sm-4 col-4"><%=user.id%></td>
            <td class="col-sm-4 col-4"><%=user.email%></td>
            <td class="col-sm-4 col-4">$<%=user.password%></td>
        </tr>
    <% }) %>
    </tbody>

</table>
<script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#Susers tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>

<% include ../partials/footer %>